@use "./colors" as *;

h1 {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;

  text-transform: uppercase;
  //color: $color-complement-0;

  .h1Plus {
    font-size: 2rem;
    color: #3eb099;
    /* background: -webkit-linear-gradient(right, #3eb099, #57e2c6);
    background: -moz-linear-gradient(right, #3eb099, #57e2c6);
    background: linear-gradient(to left, #3eb099, #57e2c6);
    z-index: 2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /*  background-image: -webkit-linear-gradient(
      to right,
      $color-complement-0,
      rgb(156, 156, 156)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
}

.underline {
  position: relative;

  &:before {
    content: '';
    background: url(../images/underline.svg) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35px;
  }
}

h3 {
  margin-bottom: 1rem;
  text-align: center;
}

p {
  margin: 1rem 0;
}

blockquote {
  &::before {
    content: open-quote;

    color: $primary-green;
  }
  &::after {
    content: close-quote;

    color: $primary-green;
  }
}

.cards {
  width: 96%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 32% 32% 32%;
}

.card-start {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-content {
    flex-grow: 1;
  }
}

.btn-sideNav {
  width: 80%;
  margin-bottom: 1rem;
}

/* .cards {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.home {
  width: 50%;
}
 */
