@use "./colors" as *;
@use "./dark";
@use "./light";
@use "./card-flip";
@use "./responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: $text;
  letter-spacing: 0.8px;
}

.topDown {
  margin-top: 3rem;
}

.bg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header-container {
  padding: 0 0 2rem 0;
  width: 100%;
}

.mobileNav,
.menu-bars {
  display: none;
}

.container {
  flex-grow: 1;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//card styling

.card {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 1.4px;
  outline: solid 1px transparent;
  border-radius: 2rem;
  //transition: transform 0.3s ease;
  margin: 2rem 0;

  .picture {
    border-radius: 2rem;
  }
}

/* .card-hover {
  position: relative;
  margin: 2rem 0;
}

.card-hover:hover {
  transform: translateY(-0.35em) scale(1.05);
}

.card-hover:hover::after {
  opacity: 1;
} */

//top white

.card-top {
  width: 100%;
  display: flex;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: solid 2px $primary-green;

  h2 {
    margin: 1rem;
  }
}

.btn-sideNav {
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background: transparent;
  color: rgba(61, 176, 153, 1);
  outline: none;
  font-size: 1rem;
  padding: 5px 20px;
  margin: 0.5rem 0;
  box-shadow: 1px 1px 2px rgb(61, 176, 153);
  border: 1px solid rgba(61, 176, 153, 1);
  border-radius: 9999px;
  transition: all 0.2s ease;
}

.btn-sideNav:hover,
.btn-sideNav:focus {
  background: rgba(61, 176, 153, 1);
  color: white;
  box-shadow: 2px 2px 4px rgb(61, 176, 153);
  text-shadow: 2px 2px 5px #2f8675;
}

.flex {
  display: flex;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex: 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2rem;
}

.card-right {
  flex: 4;
  padding: 2rem;
  h1 {
    text-align: center;
  }
}

.card-content {
  padding: 0;
  display: flex;

  p {
    margin-bottom: 1rem;
  }
}

.datenschutz .card-content {
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text;
}

footer {
  margin-bottom: 2rem;
}
